<div class="jumbotron welcome">
  <h1>¡Bienvenido!</h1>
  <p>Downbooks te ayuda a compartir libros.</p>
  <p><%= link_to "Nuevo usuario", new_user_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Iniciar sesión", new_user_path, class: "btn btn-primary btn-lg" %></p>
</div>