<% provide(:title, 'Usuarios') %>

<h1><i class="fa fa-users"></i> Usuarios</h1>
<% if @users.empty? %>
    <p>No hay usuarios que mostrar.</p>
<% else %>
    <div class="users">
      <%= render @users %>
    </div>
<% end %>
